<div class="container-fluid bckgound">
	<div class="container">
		<div class="row">
				<div class="col col--4-of-12">
					<div class="info">
						 <h1>Lyudmil Dachev</h1>
							<p>Lyudmil is a bulgarian designer specialising in Web/UI Design, Graphic Design, Branding &amp; Illustration.<br>
							 If you are looking for an original take of your project, you can't go wrong with hiring him. He has a very keen sense of typography and a truly original illustration style.</p> <p>Contact me:</p>
							<a href="mailto:workwith314@gmail.com" target="_top" class="email">workwith314@gmail.com</a>
					</div>
				</div>
			<div class="col col--7-of-12 col--push-1-of-12">
			 	<div class="photo">
			 		<img src="img/lyudmil.jpg" class="img-responsive photo" alt="314 Lyumil Dachev">
			 		<a href="http://pheliabarouh.com" target="_blank" class="morework credit">photo by Phelia Barouh</a>
			 	</div>
			</div>
		</div>
	</div>
</div>
